.Section3 {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  gap: 40px;
}
.Section3Top {
  font-family: Libre Baskerville;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
.Section3Bottom {
  display: flex;
  width: 80%;
  gap: 30px;
  justify-content: space-between;
}
.Section3Items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Section3ItemsHeading {
  margin-top: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #14213d;
}

.Section3ItemsContent {
  margin-top: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #14213d;
  text-align: center;
  width: 20vw;
}
.Section3Items > img {
  width: 116px;
  height: 116px;
}
